// https://coolors.co/1e1e1e-4e6b6c-f7f7f7-ffffff-da784d

$black: #212121;
$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: rgb(51, 207, 255);
// linear-gradient(#DA784D,rgb(19, 143, 180) , rgb(248, 142, 230))
$white: #FFFFFF;
