<section class="blog" id="blog">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12"><h1>Latest Posts</h1></div>
    </div>
    <div class="row">
      <div class="col-xs-12 posts-list">
        {{ range first 10 (where .Site.RegularPages "Section" "blog")  }}
          <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class=sub-header>
              {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read
            </div>
          </article>
        {{ end }}
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12"><h3><a href="{{ .Site.BaseURL }}/blog/">View All</a></h3></div>
    </div>
  </div>

  <div class="container" id="notas">
    <div class="row center-xs">
      <div class="col-xs-12"><h1>Posts en español</h1></div>
    </div>
    <div class="row">
      <div class="col-xs-12 posts-list">
        {{ range first 10 (where .Site.RegularPages "Section" "notas") }}
          <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class=sub-header>
              {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · Te tarda {{ .ReadingTime }} minutos leerlo 
            </div>
          </article>
        {{ end }}
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12"><h3><a href="{{ .Site.BaseURL }}/notas/">View All</a></h3></div>
    </div>
  </div>
</section>
