<section class="disqus">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_config = function () {
    this.page.url = "{{ .Permalink }}"; 
    this.page.identifier = "{{ .RelPermalink}}"; 
    };

    (function() {
      // Don't ever inject Disqus on localhost--it creates unwanted
      // discussions from 'localhost:1313' on your Disqus account...
      if (window.location.hostname == "localhost"){
        return;
      }
      var d = document, s = d.createElement('script');
      s.src = 'https://danielsada.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view comments powered by <a href="http://disqus.com/?ref_noscript">Disqus</a>.</noscript>
</section>
